.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
tsconfig.json
vsc-extension-quickstart.md
tslint.json
**/*.ts
**/tsconfig.json
**/*.md
**/*.map
**/*.yml
**/*.yaml
.npmignore
package-lock.json
ai